body {
    padding: 0;
    margin: 0;
    
}

#block-page {
    width: 300px;
    height: 500px;
    border: none;
    /* box-shadow: 2px 4px black; */
    position: absolute;
    left: 20%;
    top: 10%;
    background-color: #021b02
}

.range {
    margin-left: 15px;
    margin-top: 5px;
}

.answer {

}

.operation {
    width: 50px;
    height: 50px;
    font-size: 20px;
    font-weight: bolder;
    margin: 5px;
    -webkit-transition: background-color 2s ease-out;
    -moz-transition:  background-color 2s ease-out;
    -o-transition: background-color 2s ease-out;
    transition: background-color 2s ease-out; 
}

.operation:hover {
    background-color: crimson;
}

.range-operation {
    position: relative;
    top: 20px;
}

.range-number {
    position: relative;
    top: 100px;
}

input {
    height: 50px;
}

.range-number button {
    border-radius: 50%;
    color: #021b02;
    background-color: lightgrey;
}